
@{
    ViewBag.Title = "Start page";
}

<h1 class="my-big-header">RWA - Antonio Klasić - MVC</h1>
<hr/>
<p>
  Aplikacija za uređivanje podataka unutar AdventureWorksOBP baze podataka.
  <br />
  Izrađena: 19.07.2021.
</p>

